@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.container {
  width: 1200px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
}
.nav-menu__logo {
  margin-top: 44px;
  margin-left: 120px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #244D4D;
  font-family: "Montserrat";
  margin-right: 217px;
}
.nav-menu__link {
  display: flex;
  justify-content: space-between;
  list-style: none;
  grid-gap: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  margin-top: 48.02px;
  font-family: "DM Sans", sans-serif;
}
.nav-menu__link a {
  text-decoration: none;
  color: #161616;
}
.nav-menu__loupe {
  max-width: 24px;
  max-height: 24px;
  margin-top: 46px;
  margin-left: 285px;
  margin-bottom: 31px;
}
.nav-menu__menu {
  max-width: 24px;
  max-height: 16px;
  margin-left: 38px;
  margin-bottom: 31px;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-content__image {
  width: 411px;
  height: 560px;
  margin-left: 120px;
}
.main-content__text {
  background-color: #154444;
  height: 560px;
  width: 1200px;
}
.main-content__title {
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 68px;
  font-family: "Montserrat";
  padding-top: 101px;
  padding-left: 100px;
  width: 671px;
}
.main-content__subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  padding-top: 20px;
  color: #ffffff;
  margin-left: 100px;
  width: 488px;
  height: 75px;
  font-family: "DM Sans", sans-serif;
}
.main-content__button {
  background-color: #ffffff;
  width: 172px;
  height: 56px;
  padding-top: 15.5px;
  padding-left: 25px;
  font-family: "DM Sans", sans-serif;
  margin-top: 50px;
  margin-left: 100px;
}
.main-content__button a {
  text-decoration: none;
  color: #154444;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
}

.trusted-companies {
  padding-top: 140px;
}
.trusted-companies__title {
  display: flex;
  margin-left: 487px;
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  color: #244D4D;
  font-family: "DM Sans", sans-serif;
  width: 486px;
  height: 42px;
}
.trusted-companies__logo {
  display: flex;
  justify-content: center;
  grid-gap: 100px;
  padding-top: 50px;
}
.trusted-companies__mastercard {
  width: 66.98px;
  height: 51.97px;
  left: 0px;
  top: 0px;
}
.trusted-companies__airbnb {
  width: 125px;
  height: 39px;
  left: 0px;
  top: 0px;
}
.trusted-companies__uber {
  width: 97.3px;
  height: 34px;
  left: 0px;
  top: 0px;
}
.trusted-companies__paypal {
  width: 106.47px;
  height: 37.39px;
  left: 0px;
  top: 0px;
}
.trusted-companies__visa {
  width: 89.6px;
  height: 32px;
  left: 0px;
  top: 0px;
}
.trusted-companies__stripe {
  width: 96.66px;
  height: 40.4px;
  left: 0px;
  top: 0px;
}

.information {
  padding-top: 140px;
  display: flex;
  justify-content: space-between;
}

.information-content__img {
  width: 596px;
  height: 577px;
}
.information-content__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #244D4D;
  font-family: "Montserrat";
}
.information-content__subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  width: 436px;
  height: 75px;
  color: #444444;
  font-family: "DM Sans", sans-serif;
}/*# sourceMappingURL=main.css.map */