$blue_text: #244D4D;
$blue_color: #154444;
$blue_unsure:#305F64;
$black: #161616;
$black2: #242424;
$black3: #000000;
$black_text: #383738;
$dark_grey: #444444;
$grey_text: #919090;
$white: #ffffff;
$grey: #DEE4E2;
$grey_border: #D9DCE5;
$grey_grey: #808080;
$grey2:#F4F6F6;
$orange: #EF5423;
$blue_grey: #ECF4FF;
$sans: 'DM Sans', sans-serif;
$mont: 'Montserrat';

@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;

}

.container{
    width: 1400px;
}

.nav-menu{
display: flex;
justify-content: space-between;
 
&__logo{
    margin-top: 44px;
    margin-left: 120px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: $blue_text;
    font-family: $mont;
    margin-right: 217px;
} 

&__link{
    display: flex;
    justify-content: space-between;
    list-style: none;
    grid-gap: 50px;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    margin-top: 48.02px;
    font-family: $sans;
    
}

&__link a{
    text-decoration: none;
    color: $black;
}

&__loupe{
    max-width: 24px;
    max-height: 24px;
    margin-top: 46px;
    margin-left: 285px;
    margin-bottom: 31px;
    cursor: pointer;
    
}

&__menu{
    max-width: 24px;
    max-height: 16px;
    margin-left: 38px;
    margin-bottom: 31px;
    cursor: pointer;
}

}

.main-content{
    display: flex;
    justify-content: center;
    align-items: center;
    

&__image{
    
    width: 411px;
    height: 560px;
    margin-left: 120px;
    
}

&__text{
    background-color: $blue_color;
    height: 560px;
    width: 1200px;
    
    
}

&__title{
    color: $white;
    font-weight: 700;
    font-size: 56px;
    line-height: 68px;
    font-family: $mont;
    padding-top: 101px;
    padding-left: 100px;
    width: 671px;
}

&__subtitle{
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    padding-top: 20px;   
    color: $white;
    margin-left: 100px;
    width: 488px;
    height: 75px;
    font-family: $sans;

}

&__button{
    background-color: $white;
    width: 172px;
    height: 56px;
    padding-top: 15.5px;
    padding-left: 25px;
    font-family: $sans;
    margin-top: 50px;
    margin-left: 100px;
    
    
}

&__button a{
    text-decoration: none;
    color: $blue_color;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px    
    
}
}

.trusted-companies{  
    padding-top: 140px;
    
    
    
&__title{
    display: flex;
    margin-left: 487px;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    color: $blue_text;
    font-family: $sans;
    width: 486px;
    height: 42px;
} 
&__logo{
    display: flex;
    justify-content: center;
    grid-gap: 100px;
    padding-top: 50px;
    margin-left: 179px;
}

&__mastercard{
    width: 66.98px;
    height: 51.97px;
    left: 0px;
    top: 0px;    
}

&__airbnb{
    width: 125px;
    height: 39px;
    left: 0px;
    top: 0px;        
}

&__uber{
    width: 97.3px;
    height: 34px;
    left: 0px;
    top: 0px;   
}

&__paypal{
    width: 106.47px;
    height: 37.39px;
    left: 0px;
    top: 0px;    
}

&__visa{
    width: 89.6px;
    height: 32px;
    left: 0px;
    top: 0px;    
}

&__stripe{
    width: 96.66px;
    height: 40.4px;
    left: 0px;
    top: 0px; 
 
}
   
}

.information{
    display: flex;
    justify-content: space-between;

&-block{
    background-color: $grey;
    width: 631.24px; 
    height: 586.21px;
    margin-left: 136px;
    margin-top: 180px;
}

}


.information-content{    
&__sofa{
    width: 596px;
    height: 577px;    
    margin-top: -31px;
    margin-right: -35px;
} 
&__inner{
    margin-left: 100px;
}

&__title{
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: $blue_text;
    font-family: $mont; 
    width: 407px; 
    margin-top: 198px;  
}

&__subtitle{
    font-weight: 400;
    font-size: 20px;
    line-height: 25px; 
    width: 436px;
    margin-top: 20px;
    height: 75px;
    color: $dark_grey;  
    font-family: $sans; 
}

&__info{
    display: flex;
    align-items: center;
}

&__icon{
    width: 50px;
    height: 50px;
}

&__overskrift{
    font-family: $mont;
    color: $blue_text;
    font-weight: 700;
    font-size: 20px;
    width: 150px;
    height: 26px;
    margin-bottom: 14px;
    margin-left: 31px;    
    line-height: 26px; 
    margin-top: 35px;   
}

&__paragraf{
    color: $black_text;
    font-family: $sans;
    font-weight: 400;
    font-size: 18px;
    width: 306px;
    height: 52px;    
    line-height: 26px;
    margin-left: 31px;    
}
}


.Furniture{
    margin-top: 175px;
    
}

.text{
    margin-left: 121px;
   
 &-title{
     font-family: $mont;
     color: $black2;
     font-weight: 700;
     font-size: 32px;
     line-height: 52px;
     width: 370px;
 }
}

.text-content{
display: flex;
align-items: center;

 &__subtitle{ 
    margin-left: 121px;
     font-family: $sans;
     color: $black_text;
     margin-top: 20px;
     font-weight: 400;
     font-size: 20px;
     line-height: 27px;
     width: 819px;
 }

 &__leftArrow{
    width: 40px;
    height: 40px;
}

&__rightArrow{
    width: 40px;
    height: 40px;
} 

&__right{
    margin-left: 16px;
}

&__left{
    margin-left: 280px;
}
}

   
.Furniture-all{
    display: flex;
    margin-left: 120px;
}

.Furniture-options{
    display: grid;
    margin-left: 30px;
margin-top: 80px;
box-shadow: 0px 13px 26px 0px #00000012;
width: 380px;
height: 382px;

&__buy{
    width: 380px;
    display: flex;
   
    align-items: center;
    
}

&__chairAndTabel{
    width: 380px; 
    height: 246px;

}

&__IMGname{
    font-weight: 500;
    font-size: 20px;
    line-height: 27px; 
    font-family: $sans;  
    color: $black2; 
    margin-top: 30px;
    margin-left: 24px;
    margin-right: 101px;
}

&__heart{
    width: 26px;
    height: 26px;
    margin-top: 30px;
    margin-right: 8px;
    cursor: pointer;
    
}
&__share{
    width: 26px;
    height: 26px;
    margin-top: 30px;
    cursor: pointer;
}
&__value{
    width: 380px;
    margin-top: 21px;
    display: flex;
    justify-content: space-between;
}
&__cash{
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    font-family: $sans;
    color: $blue_color; 
    margin-left: 24px;   
}
&__purchase{
    font-weight: 500;
    font-size: 12px;
    line-height: 21px;
    font-family: $sans;
    color: $white;    
    background-color: $blue_text;
    padding-top: 5.5px;
    padding-bottom: 5.5px;
    padding-left: 14.55px;
    padding-right: 14.55px;
    margin-right: 24px;
    margin-bottom: 26px;
    text-decoration: none;

}
}

.Furniture-catalog{
    
    
&__topp{
    display: flex;
    justify-content: center;
    font-family: $mont;
    color: $black2;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    margin-top: 140px;  
    margin-bottom: 20px;
  
}

&__under{
    display: flex;
    justify-content: center;
    grid-gap: 100px;
    
}
&__shop{

    display: flex;
    justify-content: center;
    font-family: $sans;
    color: $grey_text;
    width: 210px;
    height: 27px;
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;   
   
    
    
}

&__shop:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 24px;
    line-height: 27px;
    width: 210px;
    height: 27px;
    border-bottom: 3px solid #154444; 
    
    cursor: pointer;
    color: $blue_color;
}    
&__leftBlock{
    width: 190.1px;
    height: 85.87px;
    margin-top: 88px;
    margin-left: 126px;
    background-color: $blue_color;
    
}
&__rightBlock{
    width: 190.1px;
    height: 85.87px;
    margin-left: 387px;
    margin-top: -75px;
    background-color: $blue_color;
    
}

&__office{
    width: 552.84px;
    height: 389.32px; 
    margin-left: 13px;  
    margin-top: 13px; 
    margin-bottom: 0px;
}

&__innercontent{
   display: flex;
   
}

&__all{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px 30px;
    margin-left: 522px;
    margin-top: 129px;
}
&__space{
display: inline-block;
justify-content: center;
width: 222px;
height: 90px;
border: 1.5px solid $grey_border;
padding-left: 99px;
padding-top: 15px;
cursor: pointer;
}

&-Furniture-catalog__spacegreen{
    display: inline-block;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 30px;
    width: 222px;
    height: 90px;
    border: 1.5px solid $grey_border;
    background-color: #154444;
    padding-left: 99px;
    padding-top: 15px;    
    cursor: pointer;
}

&__icon0{
    display: flex;
    justify-content: center;
    width: 24px;
    height: 24px;
    filter: $blue_text;
    color: #666666;
}
&__icon0TEXTblock{
    display: flex;
    justify-content: center;
    width: 91px;
    
}
&__icon0text{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 14px;
    padding-bottom: 15px;
    margin-left: -60px;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;  
    font-family: $sans;
    color: $grey_grey;
      
}
&-Furniture-catalog__icon0textwhite{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 14px;
    padding-bottom: 15px;
    margin-left: -70px;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;  
    font-family: $sans;
    color: $white;    
}
}

.customers{
display: flex;

&__standimg{
    margin-left: 105px;
    width: 459.09px;
    height: 493.42px;  
    margin-top: -1px;
     
} 

&__stand{
    background-color: $blue_text;
    width: 492.42px;
    height: 492.42px;
    border-radius: 50%; 
    margin-left: 120px;
    margin-top: 225px;
}

&-writing{
    margin-left: 172px;
    margin-top: 277px;
}
}

.tekst{

&__hoved{
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    font-family: $mont;
    color: $black2;
    width: 535px;
    padding-bottom: 20px;
}
&__avsnitt{
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    font-family: $sans;
    color: $black_text;    
    width: 535px;
}
}

.customers-review{
    display: flex;
    align-items: center;
    width: 160px;
    margin-top: 44px;
  
&__dude{
    width: 50px;
    height: 50px;   
}
&__dudeName{
    
    width: 69px;
    margin-left: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    font-family: $sans;
    color: $black3; 
}   
&__stars{
    display: flex;
    margin-top: 6px;
    margin-left: 10px;
}
&__star{
    width: 16px;
    height: 15.33px;
    margin-right: 6px;
    
}
&__starValue{
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
    font-family: $sans;   
    color: $black3; 
}
}


.subscribe{
    display: flex;
    justify-content: center;
    margin-left: 120px;
    margin-top: 140px;
    width: 1300px;
    height: 394.32px;
    background-color: $grey2;
    margin-bottom: 140px;

&-innerstuff{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

&-join{
    border: none;
}
}

.tekst1{

&__hoved1{
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    font-family: $mont;
    color: $black2;
    width: 605px;
    
    padding-bottom: 20px;
}
&__avsnitt1{
    text-align: center;
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    font-family: $sans;
    color: $black_text;    
    width: 535px;
    margin-bottom: 40px;
}
}

.subscribe-Register{
display: flex;
justify-content: center;
align-items: center;

&__form{
    display: flex;
    flex-direction: row;
    align-items: center;
}
&__emailIMG{
    margin-right: -30px;
    width: 16px;
    height: 16px; 
    position: relative;   
}
&__email{
    display: flex;
    flex-grow: 2;
    width: 471.98px;
    height: 67px;
    padding-left: 45px;
    outline: none;
    border: none;
    
}
&__email:focus{
    outline: none;
}
&__register{
    color: $white;
    background-color: $blue_unsure;
    border: none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 31px;
    padding-right: 31px;
    font-family: $sans;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    position: absolute;
    margin-left: 327px;
    cursor: pointer;
}
}

.bg-blue{
    background-color: $blue_unsure;
    width: 1600px;
}

.follow{
    display: flex;
    padding-top: 100px;
    padding-left: 120px;
&-dudeshape{
    display: flex;
    flex-direction: column;
    padding-right: 157px;
}    
&-Name{
    font-family: $mont;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: $white;
    padding-bottom: 24px;
}
&-text{
    font-family: $sans;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;   
    width: 308px;
    color: $white; 
    padding-bottom: 40px;
}
&-followUS{
    font-family: $mont;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: $white;
    padding-bottom: 24px;
}
&-logo{
    padding-bottom: 40px;
    display: flex;
    grid-gap: 30px;
}
&-facebook{
    width: 20px;
    height: 20px;    
}
&-twitter{
    width: 20px;
    height: 20px;
}
&-instagram{
    width: 20px;
    height: 20px;
}
&-youtube{
    width: 20px;
    height: 20px;
}
&-list{
    display: flex;
    flex-direction: column;
    width: 156px;
    margin-right: 100px;
}
&-head{
    font-family: $mont;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: $white;
    padding-bottom: 24px;
}
&-under{
    padding-bottom: 16px;
    font-family: $mont;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: $white;    
}
&-sub{
    border: none;
}
&-subscribe{
    font-family: $mont;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: $white;
    padding-bottom: 23px;
}
&-subscribetext{
    font-family: $sans;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px; 
    color: $white;  
    padding-bottom: 40px; 
}
&-form{
    display: flex;
    align-items: center;
}
&-input{
    width: 253px;
    height: 48px;
    border: none;
    outline: none;
}
&-input::placeholder{
    padding-left: 22px;
}
&-yellowArrow{
    width: 28px;
    height: 28px;
    margin-left: -30px;
    cursor: pointer;
}

}
.copyright{
    min-width: 1600px;
     border-top: 1px solid #407980 ; 

&-text{
    display: flex;
    
    font-family: $sans;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: $white;
    padding-top: 20px;
    padding-bottom: 20px;
   margin-left: 569px;
}
}

