@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.container {
  width: 1400px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
}
.nav-menu__logo {
  margin-top: 44px;
  margin-left: 120px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #244D4D;
  font-family: "Montserrat";
  margin-right: 217px;
}
.nav-menu__link {
  display: flex;
  justify-content: space-between;
  list-style: none;
  grid-gap: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  margin-top: 48.02px;
  font-family: "DM Sans", sans-serif;
}
.nav-menu__link a {
  text-decoration: none;
  color: #161616;
}
.nav-menu__loupe {
  max-width: 24px;
  max-height: 24px;
  margin-top: 46px;
  margin-left: 285px;
  margin-bottom: 31px;
  cursor: pointer;
}
.nav-menu__menu {
  max-width: 24px;
  max-height: 16px;
  margin-left: 38px;
  margin-bottom: 31px;
  cursor: pointer;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-content__image {
  width: 411px;
  height: 560px;
  margin-left: 120px;
}
.main-content__text {
  background-color: #154444;
  height: 560px;
  width: 1200px;
}
.main-content__title {
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 68px;
  font-family: "Montserrat";
  padding-top: 101px;
  padding-left: 100px;
  width: 671px;
}
.main-content__subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  padding-top: 20px;
  color: #ffffff;
  margin-left: 100px;
  width: 488px;
  height: 75px;
  font-family: "DM Sans", sans-serif;
}
.main-content__button {
  background-color: #ffffff;
  width: 172px;
  height: 56px;
  padding-top: 15.5px;
  padding-left: 25px;
  font-family: "DM Sans", sans-serif;
  margin-top: 50px;
  margin-left: 100px;
}
.main-content__button a {
  text-decoration: none;
  color: #154444;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
}

.trusted-companies {
  padding-top: 140px;
}
.trusted-companies__title {
  display: flex;
  margin-left: 487px;
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  color: #244D4D;
  font-family: "DM Sans", sans-serif;
  width: 486px;
  height: 42px;
}
.trusted-companies__logo {
  display: flex;
  justify-content: center;
  grid-gap: 100px;
  padding-top: 50px;
  margin-left: 179px;
}
.trusted-companies__mastercard {
  width: 66.98px;
  height: 51.97px;
  left: 0px;
  top: 0px;
}
.trusted-companies__airbnb {
  width: 125px;
  height: 39px;
  left: 0px;
  top: 0px;
}
.trusted-companies__uber {
  width: 97.3px;
  height: 34px;
  left: 0px;
  top: 0px;
}
.trusted-companies__paypal {
  width: 106.47px;
  height: 37.39px;
  left: 0px;
  top: 0px;
}
.trusted-companies__visa {
  width: 89.6px;
  height: 32px;
  left: 0px;
  top: 0px;
}
.trusted-companies__stripe {
  width: 96.66px;
  height: 40.4px;
  left: 0px;
  top: 0px;
}

.information {
  display: flex;
  justify-content: space-between;
}
.information-block {
  background-color: #DEE4E2;
  width: 631.24px;
  height: 586.21px;
  margin-left: 136px;
  margin-top: 180px;
}

.information-content__sofa {
  width: 596px;
  height: 577px;
  margin-top: -31px;
  margin-right: -35px;
}
.information-content__inner {
  margin-left: 100px;
}
.information-content__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #244D4D;
  font-family: "Montserrat";
  width: 407px;
  margin-top: 198px;
}
.information-content__subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  width: 436px;
  margin-top: 20px;
  height: 75px;
  color: #444444;
  font-family: "DM Sans", sans-serif;
}
.information-content__info {
  display: flex;
  align-items: center;
}
.information-content__icon {
  width: 50px;
  height: 50px;
}
.information-content__overskrift {
  font-family: "Montserrat";
  color: #244D4D;
  font-weight: 700;
  font-size: 20px;
  width: 150px;
  height: 26px;
  margin-bottom: 14px;
  margin-left: 31px;
  line-height: 26px;
  margin-top: 35px;
}
.information-content__paragraf {
  color: #383738;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  width: 306px;
  height: 52px;
  line-height: 26px;
  margin-left: 31px;
}

.Furniture {
  margin-top: 175px;
}

.text {
  margin-left: 121px;
}
.text-title {
  font-family: "Montserrat";
  color: #242424;
  font-weight: 700;
  font-size: 32px;
  line-height: 52px;
  width: 370px;
}

.text-content {
  display: flex;
  align-items: center;
}
.text-content__subtitle {
  margin-left: 121px;
  font-family: "DM Sans", sans-serif;
  color: #383738;
  margin-top: 20px;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  width: 819px;
}
.text-content__leftArrow {
  width: 40px;
  height: 40px;
}
.text-content__rightArrow {
  width: 40px;
  height: 40px;
}
.text-content__right {
  margin-left: 16px;
}
.text-content__left {
  margin-left: 280px;
}

.Furniture-all {
  display: flex;
  margin-left: 120px;
}

.Furniture-options {
  display: grid;
  margin-left: 30px;
  margin-top: 80px;
  box-shadow: 0px 13px 26px 0px rgba(0, 0, 0, 0.0705882353);
  width: 380px;
  height: 382px;
}
.Furniture-options__buy {
  width: 380px;
  display: flex;
  align-items: center;
}
.Furniture-options__chairAndTabel {
  width: 380px;
  height: 246px;
}
.Furniture-options__IMGname {
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  font-family: "DM Sans", sans-serif;
  color: #242424;
  margin-top: 30px;
  margin-left: 24px;
  margin-right: 101px;
}
.Furniture-options__heart {
  width: 26px;
  height: 26px;
  margin-top: 30px;
  margin-right: 8px;
  cursor: pointer;
}
.Furniture-options__share {
  width: 26px;
  height: 26px;
  margin-top: 30px;
  cursor: pointer;
}
.Furniture-options__value {
  width: 380px;
  margin-top: 21px;
  display: flex;
  justify-content: space-between;
}
.Furniture-options__cash {
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  font-family: "DM Sans", sans-serif;
  color: #154444;
  margin-left: 24px;
}
.Furniture-options__purchase {
  font-weight: 500;
  font-size: 12px;
  line-height: 21px;
  font-family: "DM Sans", sans-serif;
  color: #ffffff;
  background-color: #244D4D;
  padding-top: 5.5px;
  padding-bottom: 5.5px;
  padding-left: 14.55px;
  padding-right: 14.55px;
  margin-right: 24px;
  margin-bottom: 26px;
  text-decoration: none;
}

.Furniture-catalog__topp {
  display: flex;
  justify-content: center;
  font-family: "Montserrat";
  color: #242424;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  margin-top: 140px;
  margin-bottom: 20px;
}
.Furniture-catalog__under {
  display: flex;
  justify-content: center;
  grid-gap: 100px;
}
.Furniture-catalog__shop {
  display: flex;
  justify-content: center;
  font-family: "DM Sans", sans-serif;
  color: #919090;
  width: 210px;
  height: 27px;
  font-weight: 400;
  font-size: 24px;
  line-height: 27px;
}
.Furniture-catalog__shop:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 27px;
  width: 210px;
  height: 27px;
  border-bottom: 3px solid #154444;
  cursor: pointer;
  color: #154444;
}
.Furniture-catalog__leftBlock {
  width: 190.1px;
  height: 85.87px;
  margin-top: 88px;
  margin-left: 126px;
  background-color: #154444;
}
.Furniture-catalog__rightBlock {
  width: 190.1px;
  height: 85.87px;
  margin-left: 387px;
  margin-top: -75px;
  background-color: #154444;
}
.Furniture-catalog__office {
  width: 552.84px;
  height: 389.32px;
  margin-left: 13px;
  margin-top: 13px;
  margin-bottom: 0px;
}
.Furniture-catalog__innercontent {
  display: flex;
}
.Furniture-catalog__all {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px 30px;
  margin-left: 522px;
  margin-top: 129px;
}
.Furniture-catalog__space {
  display: inline-block;
  justify-content: center;
  width: 222px;
  height: 90px;
  border: 1.5px solid #D9DCE5;
  padding-left: 99px;
  padding-top: 15px;
  cursor: pointer;
}
.Furniture-catalog-Furniture-catalog__spacegreen {
  display: inline-block;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 30px;
  width: 222px;
  height: 90px;
  border: 1.5px solid #D9DCE5;
  background-color: #154444;
  padding-left: 99px;
  padding-top: 15px;
  cursor: pointer;
}
.Furniture-catalog__icon0 {
  display: flex;
  justify-content: center;
  width: 24px;
  height: 24px;
  filter: #244D4D;
  color: #666666;
}
.Furniture-catalog__icon0TEXTblock {
  display: flex;
  justify-content: center;
  width: 91px;
}
.Furniture-catalog__icon0text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 14px;
  padding-bottom: 15px;
  margin-left: -60px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  font-family: "DM Sans", sans-serif;
  color: #808080;
}
.Furniture-catalog-Furniture-catalog__icon0textwhite {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 14px;
  padding-bottom: 15px;
  margin-left: -70px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  font-family: "DM Sans", sans-serif;
  color: #ffffff;
}

.customers {
  display: flex;
}
.customers__standimg {
  margin-left: 105px;
  width: 459.09px;
  height: 493.42px;
  margin-top: -1px;
}
.customers__stand {
  background-color: #244D4D;
  width: 492.42px;
  height: 492.42px;
  border-radius: 50%;
  margin-left: 120px;
  margin-top: 225px;
}
.customers-writing {
  margin-left: 172px;
  margin-top: 277px;
}

.tekst__hoved {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  font-family: "Montserrat";
  color: #242424;
  width: 535px;
  padding-bottom: 20px;
}
.tekst__avsnitt {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  font-family: "DM Sans", sans-serif;
  color: #383738;
  width: 535px;
}

.customers-review {
  display: flex;
  align-items: center;
  width: 160px;
  margin-top: 44px;
}
.customers-review__dude {
  width: 50px;
  height: 50px;
}
.customers-review__dudeName {
  width: 69px;
  margin-left: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  font-family: "DM Sans", sans-serif;
  color: #000000;
}
.customers-review__stars {
  display: flex;
  margin-top: 6px;
  margin-left: 10px;
}
.customers-review__star {
  width: 16px;
  height: 15.33px;
  margin-right: 6px;
}
.customers-review__starValue {
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
  font-family: "DM Sans", sans-serif;
  color: #000000;
}

.subscribe {
  display: flex;
  justify-content: center;
  margin-left: 120px;
  margin-top: 140px;
  width: 1300px;
  height: 394.32px;
  background-color: #F4F6F6;
  margin-bottom: 140px;
}
.subscribe-innerstuff {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.subscribe-join {
  border: none;
}

.tekst1__hoved1 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  font-family: "Montserrat";
  color: #242424;
  width: 605px;
  padding-bottom: 20px;
}
.tekst1__avsnitt1 {
  text-align: center;
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  font-family: "DM Sans", sans-serif;
  color: #383738;
  width: 535px;
  margin-bottom: 40px;
}

.subscribe-Register {
  display: flex;
  justify-content: center;
  align-items: center;
}
.subscribe-Register__form {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.subscribe-Register__emailIMG {
  margin-right: -30px;
  width: 16px;
  height: 16px;
  position: relative;
}
.subscribe-Register__email {
  display: flex;
  flex-grow: 2;
  width: 471.98px;
  height: 67px;
  padding-left: 45px;
  outline: none;
  border: none;
}
.subscribe-Register__email:focus {
  outline: none;
}
.subscribe-Register__register {
  color: #ffffff;
  background-color: #305F64;
  border: none;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 31px;
  padding-right: 31px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  position: absolute;
  margin-left: 327px;
  cursor: pointer;
}

.bg-blue {
  background-color: #305F64;
  width: 1600px;
}

.follow {
  display: flex;
  padding-top: 100px;
  padding-left: 120px;
}
.follow-dudeshape {
  display: flex;
  flex-direction: column;
  padding-right: 157px;
}
.follow-Name {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  padding-bottom: 24px;
}
.follow-text {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  width: 308px;
  color: #ffffff;
  padding-bottom: 40px;
}
.follow-followUS {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  padding-bottom: 24px;
}
.follow-logo {
  padding-bottom: 40px;
  display: flex;
  grid-gap: 30px;
}
.follow-facebook {
  width: 20px;
  height: 20px;
}
.follow-twitter {
  width: 20px;
  height: 20px;
}
.follow-instagram {
  width: 20px;
  height: 20px;
}
.follow-youtube {
  width: 20px;
  height: 20px;
}
.follow-list {
  display: flex;
  flex-direction: column;
  width: 156px;
  margin-right: 100px;
}
.follow-head {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  padding-bottom: 24px;
}
.follow-under {
  padding-bottom: 16px;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}
.follow-sub {
  border: none;
}
.follow-subscribe {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  padding-bottom: 23px;
}
.follow-subscribetext {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  padding-bottom: 40px;
}
.follow-form {
  display: flex;
  align-items: center;
}
.follow-input {
  width: 253px;
  height: 48px;
  border: none;
  outline: none;
}
.follow-input::-moz-placeholder {
  padding-left: 22px;
}
.follow-input:-ms-input-placeholder {
  padding-left: 22px;
}
.follow-input::placeholder {
  padding-left: 22px;
}
.follow-yellowArrow {
  width: 28px;
  height: 28px;
  margin-left: -30px;
  cursor: pointer;
}

.copyright {
  min-width: 1600px;
  border-top: 1px solid #407980;
}
.copyright-text {
  display: flex;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 569px;
}/*# sourceMappingURL=main.css.map */