$blue_text: #244D4D;
$blue_color: #154444;
$black: #161616;
$dark_grey: #444444;
$white: #ffffff;
$grey: #DEE4E2;
$sans: 'DM Sans', sans-serif;
$mont: 'Montserrat';

@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;

}

.container{
    width: 1200px;
}

.nav-menu{
display: flex;
justify-content: space-between;
 
&__logo{
    margin-top: 44px;
    margin-left: 120px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: $blue_text;
    font-family: $mont;
    margin-right: 217px;
} 

&__link{
    display: flex;
    justify-content: space-between;
    list-style: none;
    grid-gap: 50px;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    margin-top: 48.02px;
    font-family: $sans;
    
}

&__link a{
    text-decoration: none;
    color: $black;
}

&__loupe{
    max-width: 24px;
    max-height: 24px;
    margin-top: 46px;
    margin-left: 285px;
    margin-bottom: 31px;
    
}

&__menu{
    max-width: 24px;
    max-height: 16px;
    margin-left: 38px;
    margin-bottom: 31px;
}

}

.main-content{
    display: flex;
    justify-content: center;
    align-items: center;
    

&__image{
    width: 411px;
    height: 560px;
    margin-left: 120px;
    
}

&__text{
    background-color: $blue_color;
    height: 560px;
    width: 1200px;
    
    
}

&__title{
    color: $white;
    font-weight: 700;
    font-size: 56px;
    line-height: 68px;
    font-family: $mont;
    padding-top: 101px;
    padding-left: 100px;
    width: 671px;
}

&__subtitle{
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    padding-top: 20px;   
    color: $white;
    margin-left: 100px;
    width: 488px;
    height: 75px;
    font-family: $sans;

}

&__button{
    background-color: $white;
    width: 172px;
    height: 56px;
    padding-top: 15.5px;
    padding-left: 25px;
    font-family: $sans;
    margin-top: 50px;
    margin-left: 100px;
    
    
}

&__button a{
    text-decoration: none;
    color: $blue_color;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px    
    
}
}

.trusted-companies{  
    padding-top: 140px;
    
    
    
&__title{
    display: flex;
    margin-left: 487px;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    color: $blue_text;
    font-family: $sans;
    width: 486px;
    height: 42px;
} 
&__logo{
    display: flex;
    justify-content: center;
    grid-gap: 100px;
    padding-top: 50px;
}

&__mastercard{
    width: 66.98px;
    height: 51.97px;
    left: 0px;
    top: 0px;    
}

&__airbnb{
    width: 125px;
    height: 39px;
    left: 0px;
    top: 0px;        
}

&__uber{
    width: 97.3px;
    height: 34px;
    left: 0px;
    top: 0px;   
}

&__paypal{
    width: 106.47px;
    height: 37.39px;
    left: 0px;
    top: 0px;    
}

&__visa{
    width: 89.6px;
    height: 32px;
    left: 0px;
    top: 0px;    
}

&__stripe{
    width: 96.66px;
    height: 40.4px;
    left: 0px;
    top: 0px; 
 
}
   
}

.information{
    padding-top: 140px;
    display: flex;
    justify-content: space-between;
}

.information-content{
    
&__img{
    width: 596px;
    height: 577px;    

}    

&__title{
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: $blue_text;
    font-family: $mont;    
}

&__subtitle{
    font-weight: 400;
    font-size: 20px;
    line-height: 25px; 
    width: 436px;
    height: 75px;
    color: $dark_grey;  
    font-family: $sans; 
}
}